/* [project]/src/styles/responsive.css [app-client] (css) */
@media only screen and (max-width: 999px) {
  .right-section {
    display: none;
  }

  .icon-header {
    display: flex;
  }

  .showData {
    background-color: var(--white);
    text-align: center;
    grid-area: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 330px;
    padding: 0;
    display: flex;
    position: absolute;
    top: 56px;
  }
}

@media only screen and (max-width: 389px) {
  .showData {
    width: 82%;
  }
}

@media only screen and (max-width: 467px) {
  .showData {
    width: 87%;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1366px) {
  .services-sec-in .upcoming-my-slide {
    width: 23.5%;
  }

  .single-card img.card {
    width: 260px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1299px) {
  .search-bar {
    width: 250px;
  }

  .search-bar input {
    font-size: 11px;
  }

  .location {
    font-size: 12px;
  }
}

@media only screen and (min-width: 999px) and (max-width: 1024px) {
  .hero-btn button {
    padding: 5px 10px;
    font-size: 10px;
    bottom: 54px;
    left: 30px;
  }

  .hero-img {
    width: 200px;
  }

  .inner-hero p {
    font-size: 16px;
    top: 30px;
    left: 28px;
  }

  .services-sec-in .upcoming-my-slide {
    width: 30%;
  }

  .service-issues-content-problem-thumbs-image {
    width: 15%;
  }
}

@media only screen and (min-width: 912px) and (max-width: 999px) {
  .services-sec-in .upcoming-my-slide {
    width: 47%;
  }

  .service-issues-content-problem-thumbs-image {
    width: 15%;
  }
}

@media only screen and (min-width: 820px) and (max-width: 911px) {
  .showData {
    background-color: var(--white);
    text-align: center;
    grid-area: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 81px;
    padding: 0;
    display: flex;
    position: absolute;
    top: 85px;
  }

  .hero-btn button {
    padding: 5px 10px;
    font-size: 10px;
    bottom: 5px;
    left: 12px;
  }

  .hero-img {
    width: 110px;
  }

  .inner-hero p {
    font-size: 12px;
    top: 16px;
    left: 10px;
  }

  .browse-ctg-head h2 {
    font-size: 16px;
  }

  .roger-data {
    width: 100%;
  }

  .roger-data .input-row {
    flex-direction: column;
    gap: 0;
  }

  .footer-text {
    font-size: 12px;
  }

  .my-profile-wrapper .upload-icon {
    width: 35px;
    height: 35px;
    top: 22%;
    right: 40%;
  }

  .services-sec-in .upcoming-my-slide {
    width: 47%;
  }

  .service-issues-content-problem-thumbs-image {
    width: 20%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 819px) {
  .showData {
    background-color: var(--white);
    text-align: center;
    grid-area: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 81px;
    padding: 0;
    display: flex;
    position: absolute;
    top: 85px;
    right: -4px;
  }

  .hero-btn button {
    padding: 5px 10px;
    font-size: 10px;
    bottom: 5px;
    left: 12px;
  }

  .hero-img {
    width: 110px;
  }

  .inner-hero p {
    font-size: 12px;
    top: 16px;
    left: 10px;
  }

  .browse-ctg-head h2 {
    font-size: 16px;
  }

  .roger-data {
    width: 100%;
  }

  .roger-data .input-row {
    flex-direction: column;
    gap: 0;
  }

  .footer-text {
    font-size: 12px;
  }

  .my-profile-wrapper .upload-icon {
    width: 35px;
    height: 35px;
    top: 22%;
    right: 40%;
  }

  .my-payments-body .paid h5 {
    font-size: 17px;
    font-weight: 600;
  }

  .my-payments-body .paid.pending h5 span {
    margin: 8px;
    display: inline-block;
  }

  .right-payments-body button.secondary-cta {
    width: 100%;
    font-size: 12px;
  }

  .card-wrp {
    flex-wrap: wrap;
  }

  .single-card img.card {
    width: 310px;
  }

  .service-quotes {
    flex-direction: column;
  }

  .services-sec-in .upcoming-my-slide {
    width: 47%;
  }

  .service-issues-content-problem-thumbs-image {
    width: 15%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .user-img-circle {
    width: 70px;
    height: 70px;
    top: 45px;
    left: 50%;
  }

  .user-img-circle img {
    width: 60px;
    height: 60px;
  }

  .my-profile-wrapper .upload-icon {
    width: 20px;
    height: 20px;
    top: 13%;
    right: 38%;
  }

  .my-profile-wrapper label.upload-icon img {
    width: 16px;
    height: 16px;
  }

  .browse-ctg-head h2 {
    font-size: 16px;
  }

  .roger-data {
    width: 100%;
  }

  .roger-data .input-row {
    flex-direction: column;
    gap: 0;
  }

  .footer-text {
    font-size: 12px;
  }

  .input-data-file {
    padding-bottom: 70px;
  }

  .container.home-wraper.my-profile {
    height: auto;
  }

  .delete-account .modal-header h5.modal-title {
    font-size: 15px;
  }

  .delete-account ul.list-group.list-group-flush {
    gap: 12px;
  }

  .modal-body.delete-account-bdy li.list-group-item.custom-item span {
    font-size: 14px;
  }

  .modal-dialog.modal-dialog-centered .modal-header button.btn-close {
    width: 18px;
    height: 18px;
    top: -2rem;
    right: 9px;
  }

  .delete-account-wrp h3 {
    font-size: 15px;
  }

  .delete-account-wrp p {
    font-size: 14px;
  }

  .delete-btn-rgt button.primary-cta {
    margin: auto;
  }

  .notice-data h4 {
    font-size: 15px;
  }

  .notice-data p, .service-important h4 {
    font-size: 14px;
  }

  .notice-footer-btn a.primary-cta img {
    width: 9px;
    height: 9px;
    margin-left: 7px;
  }

  .notice-footer-btn a.primary-cta {
    font-size: 11px;
  }

  .notice-footer-btn button.secondary-cta {
    font-size: 15px;
  }

  .about-swap-inner .inner-data span {
    font-size: 14px;
  }

  .about-swap-inner .inner-data span img {
    width: 17px;
    height: 17px;
    margin-right: 6px;
  }

  .help-support-wrp h3 {
    font-size: 15px;
  }

  .help-support-wrp p {
    font-size: 14px;
  }

  .email-box {
    font-size: 12px;
  }

  .left-payments-body, .browse-ctg-head {
    flex-direction: column;
  }

  .browse-ctg-head.my-con-head .tab-left {
    margin-top: 10px;
  }

  .my-payments-body {
    flex-direction: column;
  }

  .my-payments-body .paid h5 {
    font-size: 15px;
  }

  .my-payments-body .paid h5 span {
    margin-top: 8px;
    display: inline-block;
  }

  .my-payments-body .paid p span {
    font-size: 14px;
  }

  .right-payments-body button.secondary-cta {
    font-size: 11px;
    font-weight: 500;
  }

  .right-payments-body button.primary-cta {
    font-size: 11px;
  }

  .right-payments-body button.primary-cta img.pay {
    width: 12px;
    height: 12px;
    margin-right: 7px;
  }

  .my-payments-body .paid.pending h5 span {
    margin: 8px;
    display: inline-block;
  }

  .cost-details-wrp h4 {
    font-size: 15px;
  }

  .cost-details-in p {
    font-size: 14px;
  }

  .select-pay-met h4 {
    font-size: 16px;
  }

  .select-pay-met ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .cost-details-wrp {
    padding: 0;
  }

  .card-wrp {
    flex-direction: column;
  }

  .single-card img.card {
    width: 366px;
  }

  .my-booking-wrpper {
    flex-direction: column;
  }

  .plumbing-top .add-progress p.right {
    padding: 3px 8px;
  }

  .home-quotes-cta, .service-quotes {
    flex-direction: column;
  }

  .services-sec-in .upcoming-my-slide {
    width: 47%;
  }

  .sub-cat-filtr-btns {
    flex-direction: column;
  }

  .sub-cat-filtr-btns button {
    width: 100%;
  }

  .service-details-sub-cat h3 {
    font-size: 15px;
  }

  .service-details-banner-data h1 {
    font-size: 16px;
  }

  .service-details-banner-data p {
    flex-direction: column;
    font-size: 14px;
  }

  .service-issues-tab {
    flex-direction: column;
    gap: 20px;
  }

  .service-issues-tab-data h4 {
    font-size: 15px;
  }

  .service-issues-tab-data p, .service-issues-content p {
    font-size: 14px;
  }

  .service-issues-content ul li {
    width: 100%;
  }

  .service-details-issues h3 {
    font-size: 15px;
  }

  .service-issues-content-problem label {
    padding: 10px;
    font-size: 14px;
  }

  .service-issues-content-problem label img {
    width: 25px;
  }

  .service-issues-content-problem-thumbs-image {
    width: 100%;
  }

  .service-issues-content-problem-thumbs {
    flex-direction: column;
  }

  .view-sum-subcat h3 {
    flex-direction: column;
    gap: 20px;
    font-size: 15px;
  }

  .view-sum-subcat h3 a img, .sub-cat-head a {
    width: 15px;
  }

  .sub-cat-head p, .estimated-total .estimated p {
    font-size: 14px;
  }

  .estimated-total .estimated span, .estimated-total .avrg span, .request-btn button.primary-cta {
    font-size: 15px;
  }

  .accordion-body ol.main-category li {
    font-size: 14px;
  }

  .view-sum-cat h5 {
    font-size: 15px;
  }

  .up-image-wrp {
    flex-wrap: wrap;
  }

  .upload-img .up-image-wrp img {
    width: 110px;
    height: 110px;
  }

  .issue-details-wrp h4, span.primary-cta.tap {
    font-size: 15px;
  }

  .boking-right-img {
    position: relative;
  }

  .plumbing-wrp-book {
    flex-direction: column;
    gap: 20px;
  }

  .plumbing-wrp-book .plumbing p.bold-text {
    font-size: 15px;
  }
}

@media only screen and (min-width: 390px) and (max-width: 479px) {
  .logo {
    width: 35px;
    height: 45px;
  }

  .left-section {
    gap: 10px;
  }

  .location {
    font-size: 13px;
  }

  .icon-header {
    font-size: 22px;
  }

  .user-img-circle {
    width: 70px;
    height: 70px;
    top: 45px;
    left: 50%;
  }

  .user-img-circle img {
    width: 60px;
    height: 60px;
  }

  .my-profile-wrapper .upload-icon {
    width: 20px;
    height: 20px;
    top: 16%;
    right: 40%;
  }

  .my-profile-wrapper label.upload-icon img {
    width: 16px;
    height: 16px;
  }

  .browse-ctg-head h2 {
    font-size: 16px;
  }

  .hero-btn button {
    padding: 5px 10px;
    font-size: 10px;
    bottom: 5px;
    left: 12px;
  }

  .hero-img {
    width: 110px;
  }

  .inner-hero p {
    font-size: 12px;
    top: 16px;
    left: 10px;
  }

  .home-quotes-cta .primary-cta.rgt {
    justify-content: center;
  }

  .roger-data {
    width: 100%;
  }

  .roger-data .input-row {
    flex-direction: column;
    gap: 0;
  }

  .footer-text {
    font-size: 12px;
  }

  .input-data-file {
    padding-bottom: 70px;
  }

  p.about-us-data {
    font-size: 14px;
  }

  .inner-data a span {
    font-size: 15px;
  }

  .about-swap-inner .inner-data a img {
    width: 15px;
    height: 15px;
  }

  .container.home-wraper.my-profile {
    height: auto;
  }

  .delete-account .modal-header h5.modal-title {
    font-size: 15px;
  }

  .delete-account ul.list-group.list-group-flush {
    gap: 12px;
  }

  .modal-body.delete-account-bdy li.list-group-item.custom-item span {
    font-size: 14px;
  }

  .modal-dialog.modal-dialog-centered .modal-header button.btn-close {
    width: 18px;
    height: 18px;
    top: -2rem;
    right: 9px;
  }

  .delete-account-wrp h3 {
    font-size: 15px;
  }

  .delete-account-wrp p {
    font-size: 14px;
  }

  .delete-btn-rgt button.primary-cta {
    margin: auto;
  }

  .notice-data h4 {
    font-size: 15px;
  }

  .notice-data p, .service-important h4 {
    font-size: 14px;
  }

  .notice-footer-btn a.primary-cta img {
    width: 9px;
    height: 9px;
    margin-left: 7px;
  }

  .notice-footer-btn a.primary-cta {
    font-size: 11px;
  }

  .notice-footer-btn button.secondary-cta {
    font-size: 15px;
  }

  .about-swap-inner .inner-data span {
    font-size: 14px;
  }

  .about-swap-inner .inner-data span img {
    width: 17px;
    height: 17px;
    margin-right: 6px;
  }

  .help-support-wrp h3 {
    font-size: 15px;
  }

  .help-support-wrp p {
    font-size: 14px;
  }

  .email-box {
    font-size: 12px;
  }

  .left-payments-body, .browse-ctg-head {
    flex-direction: column;
  }

  .browse-ctg-head.my-con-head .tab-left {
    margin-top: 10px;
  }

  .my-payments-body {
    flex-direction: column;
  }

  .my-payments-body .paid h5 {
    font-size: 15px;
  }

  .my-payments-body .paid h5 span {
    margin-top: 8px;
    display: inline-block;
  }

  .my-payments-body .paid p span {
    font-size: 14px;
  }

  .right-payments-body button.secondary-cta {
    font-size: 11px;
    font-weight: 500;
  }

  .right-payments-body button.primary-cta {
    font-size: 11px;
  }

  .right-payments-body button.primary-cta img.pay {
    width: 12px;
    height: 12px;
    margin-right: 7px;
  }

  .browse-ctg-head.my-con-head a.primary-cta {
    width: fit-content;
    font-size: 12px;
  }

  .saved-addresses-in, .use-location {
    flex-direction: column;
  }

  .your-location-top-in button.reject-btn {
    margin-top: 10px;
  }

  .addres-form button.primary-cta {
    justify-content: center;
  }

  .cost-details-wrp h4 {
    font-size: 15px;
  }

  .cost-details-in p {
    font-size: 14px;
  }

  .select-pay-met h4 {
    font-size: 16px;
  }

  .select-pay-met ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .cost-details-wrp {
    padding: 0;
  }

  .card-wrp {
    flex-direction: column;
  }

  .single-card img.card {
    width: 366px;
  }

  .my-booking-wrpper {
    flex-direction: column;
  }

  .plumbing-top .add-progress p.right {
    padding: 3px 8px;
    font-size: 13px;
  }

  .home-quotes-cta, .service-quotes {
    flex-direction: column;
  }

  .payment-in {
    padding: 20px 80px;
  }

  .smart-analysis p, .payment-btom p {
    font-size: 14px;
  }

  .upload-screenshot h4, .smart-analysis h5, .payment-wrp p {
    font-size: 15px;
  }

  .payment-in h3 {
    font-size: 28px;
  }

  .payment-in h5, .payment-in h6 {
    font-size: 15px;
  }

  .select-pay-met ul li, .upload-screenshot input[type="file"], .payment-btom .primary-cta {
    font-size: 14px;
  }

  .payment-btom .primary-cta img {
    margin-left: 8px;
  }

  .browse-ctg-head .your-location-top {
    gap: 20px;
    align-items: unset;
    flex-direction: column;
  }

  .browse-ctg-head .your-location-top select {
    margin-left: 0;
    padding: 10px 30px 10px 10px;
  }

  .services-sec-wrp h3 {
    font-size: 15px;
  }

  .services-sec-wrp .upcoming-my-slide .upcoming-data.ser {
    left: 29px;
  }

  .top-services-slider button.slick-prev.slick-arrow, .top-services-slider button.slick-next.slick-arrow {
    width: 42px;
    height: 40px;
  }

  .services-sec-in .upcoming-my-slide {
    width: 100%;
  }

  .sub-cat-filtr-btns {
    flex-direction: column;
  }

  .sub-cat-filtr-btns button {
    width: 100%;
  }

  .service-details-sub-cat h3 {
    font-size: 15px;
  }

  .service-details-banner-data h1 {
    font-size: 16px;
  }

  .service-details-banner-data p {
    flex-direction: column;
    font-size: 14px;
  }

  .service-issues-tab {
    flex-direction: column;
    gap: 20px;
  }

  .service-issues-tab-data h4 {
    font-size: 15px;
  }

  .service-issues-tab-data p, .service-issues-content p {
    font-size: 14px;
  }

  .service-issues-content ul li {
    width: 100%;
  }

  .service-details-issues h3 {
    font-size: 15px;
  }

  .service-issues-content-problem label {
    padding: 10px;
    font-size: 14px;
  }

  .service-issues-content-problem label img {
    width: 25px;
  }

  .service-issues-content-problem-thumbs-image {
    width: 46%;
  }

  .service-issues-content-problem-thumbs {
    flex-wrap: wrap;
  }

  .view-sum-subcat h3 {
    flex-direction: column;
    gap: 20px;
    font-size: 15px;
  }

  .view-sum-subcat h3 a img, .sub-cat-head a {
    width: 15px;
  }

  .sub-cat-head p, .estimated-total .estimated p {
    font-size: 14px;
  }

  .estimated-total .estimated span, .estimated-total .avrg span, .request-btn button.primary-cta {
    font-size: 15px;
  }

  .accordion-body ol.main-category li {
    font-size: 14px;
  }

  .view-sum-cat h5 {
    font-size: 15px;
  }

  .up-image-wrp {
    flex-wrap: wrap;
  }

  .upload-img .up-image-wrp img {
    width: 104px;
    height: 110px;
  }

  .issue-details-wrp h4, span.primary-cta.tap {
    font-size: 15px;
  }

  .boking-right-img {
    position: relative;
  }

  .plumbing-wrp-book {
    flex-direction: column;
    gap: 20px;
  }

  .plumbing-wrp-book .plumbing p.bold-text {
    font-size: 15px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 389px) {
  .logo {
    width: 30px;
    height: 40px;
  }

  .left-section {
    gap: 10px;
  }

  .dropdown-toggle.location-toggle img.loca {
    margin-right: 0;
  }

  .location img.loca {
    width: 20px;
    height: 20px;
  }

  .browse-inner ul {
    justify-content: center;
  }

  .location {
    font-size: 12px;
  }

  .search-bar {
    width: 220px;
  }

  .inner-hero p {
    font-size: 12px;
    top: 16px;
    left: 10px;
  }

  .hero-img {
    width: 110px;
  }

  .hero-btn button {
    padding: 5px 10px;
    font-size: 10px;
    bottom: 5px;
    left: 12px;
  }

  .hero-btn img {
    width: 12px;
    height: 12px;
  }

  .pipe-leakage {
    flex-direction: column;
    gap: 10px;
    display: flex;
  }

  .left-leakage p {
    font-size: 14px;
  }

  .leakage-img {
    width: 60px;
  }

  .right-leakage .right-text .frist {
    font-size: 14px;
    font-weight: 500;
  }

  .right-leakage .right-text .sec {
    justify-content: flex-start;
  }

  .browse-ctg-head p.see-all {
    font-size: 15px;
    font-weight: 400;
  }

  .upcoming-data .up-text {
    font-size: 14px;
    font-weight: 500;
  }

  .upcoming-data .up-date {
    font-size: 14px;
  }

  .upcoming-data {
    left: 48px;
  }

  button.primary-cta.upcm-btn {
    height: 35px;
    font-size: 14px;
  }

  .upcm-slider-btn .cnl {
    height: 35px;
    padding: 0 15px;
    font-size: 14px;
  }

  .primary-cta.upcm-btn img {
    width: 15px;
    height: 15px;
    margin-right: 3px;
  }

  .plumbing .plm {
    font-size: 14px;
    font-weight: 500;
  }

  .plumbing .plm img {
    width: 15px;
    height: 16px;
  }

  .plumbing .sub-cate, .service-list-type ol.main-category li {
    font-size: 14px;
  }

  .additional-services .additional-text {
    font-weight: 500;
  }

  .additional-services ul.service-list li, .service-list-type p, .service-cost span {
    font-size: 14px;
  }

  .service-quotes {
    flex-direction: column;
  }

  button.reject-btn {
    padding: 0 25px;
    font-size: 14px;
  }

  button.primary-cta.rgt {
    justify-content: center;
    font-size: 14px;
  }

  .primary-cta.rgt img {
    width: 12px;
    height: 12px;
    margin-left: 6px;
  }

  .icon-header {
    margin-left: 13px;
    font-size: 18px;
  }

  .left-leakage span {
    height: 22px;
  }

  .user-img-circle {
    width: 70px;
    height: 70px;
    top: 45px;
    left: 50%;
  }

  .user-img-circle img {
    width: 60px;
    height: 60px;
  }

  .my-profile-wrapper .upload-icon {
    width: 20px;
    height: 20px;
    top: 17%;
    right: 38%;
  }

  .my-profile-wrapper label.upload-icon img {
    width: 16px;
    height: 16px;
  }

  .browse-ctg-head h2 {
    font-size: 16px;
  }

  .roger-data {
    width: 100%;
  }

  .roger-data .input-row {
    flex-direction: column;
    gap: 0;
  }

  .footer-text {
    font-size: 12px;
  }

  .input-data-file {
    padding-bottom: 70px;
  }

  p.about-us-data {
    font-size: 14px;
  }

  .inner-data a span {
    font-size: 15px;
  }

  .about-swap-inner .inner-data a img {
    width: 15px;
    height: 15px;
  }

  .container.home-wraper.my-profile {
    height: auto;
  }

  .delete-account .modal-header h5.modal-title {
    font-size: 15px;
  }

  .delete-account ul.list-group.list-group-flush {
    gap: 12px;
  }

  .modal-body.delete-account-bdy li.list-group-item.custom-item span {
    font-size: 14px;
  }

  .modal-dialog.modal-dialog-centered .modal-header button.btn-close {
    width: 18px;
    height: 18px;
    top: -2rem;
    right: 9px;
  }

  .delete-account-wrp h3 {
    font-size: 15px;
  }

  .delete-account-wrp p {
    font-size: 14px;
  }

  .delete-btn-rgt button.primary-cta {
    margin: auto;
  }

  .notice-data h4 {
    font-size: 15px;
  }

  .notice-data p, .service-important h4 {
    font-size: 14px;
  }

  .notice-footer-btn a.primary-cta img {
    width: 9px;
    height: 9px;
    margin-left: 7px;
  }

  .notice-footer-btn a.primary-cta {
    font-size: 11px;
  }

  .notice-footer-btn button.secondary-cta {
    font-size: 15px;
  }

  .about-swap-inner .inner-data span {
    font-size: 14px;
  }

  .about-swap-inner .inner-data span img {
    width: 17px;
    height: 17px;
    margin-right: 6px;
  }

  .help-support-wrp h3 {
    font-size: 15px;
  }

  .help-support-wrp p {
    font-size: 14px;
  }

  .email-box {
    font-size: 12px;
  }

  .left-payments-body, .browse-ctg-head {
    flex-direction: column;
  }

  .browse-ctg-head.my-con-head .tab-left {
    margin-top: 10px;
  }

  .my-payments-body {
    flex-direction: column;
  }

  .my-payments-body .paid h5 {
    font-size: 15px;
  }

  .my-payments-body .paid h5 span {
    margin-top: 8px;
    display: inline-block;
  }

  .my-payments-body .paid p span {
    font-size: 14px;
  }

  .right-payments-body button.secondary-cta {
    font-size: 11px;
    font-weight: 500;
  }

  .right-payments-body button.primary-cta {
    font-size: 11px;
  }

  .right-payments-body button.primary-cta img.pay {
    width: 12px;
    height: 12px;
    margin-right: 7px;
  }

  .browse-ctg-head.my-con-head a.primary-cta {
    width: fit-content;
    font-size: 12px;
  }

  .saved-addresses-in, .use-location {
    flex-direction: column;
  }

  .your-location-top-in button.reject-btn {
    margin-top: 10px;
  }

  .addres-form button.primary-cta {
    justify-content: center;
  }

  .cost-details-wrp h4 {
    font-size: 15px;
  }

  .cost-details-in p {
    font-size: 14px;
  }

  .select-pay-met h4 {
    font-size: 16px;
  }

  .select-pay-met ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .cost-details-wrp {
    padding: 0;
  }

  .card-wrp {
    flex-direction: column;
  }

  .single-card img.card {
    width: 314px;
  }

  .my-booking-wrpper {
    flex-direction: column;
  }

  .plumbing-top .add-progress p.right {
    padding: 3px 8px;
    font-size: 13px;
  }

  .home-quotes-cta {
    flex-direction: column;
  }

  .payment-in {
    padding: 20px 80px;
  }

  .smart-analysis p, .payment-btom p {
    font-size: 14px;
  }

  .upload-screenshot h4, .smart-analysis h5, .payment-wrp p {
    font-size: 15px;
  }

  .payment-in h3 {
    font-size: 28px;
  }

  .payment-in h5, .payment-in h6 {
    font-size: 15px;
  }

  .select-pay-met ul li, .upload-screenshot input[type="file"], .payment-btom .primary-cta {
    font-size: 14px;
  }

  .payment-btom .primary-cta img {
    margin-left: 8px;
  }

  .browse-ctg-head .your-location-top {
    gap: 20px;
    align-items: unset;
    flex-direction: column;
  }

  .browse-ctg-head .your-location-top select {
    margin-left: 0;
    padding: 10px 30px 10px 10px;
  }

  .services-sec-wrp h3 {
    font-size: 15px;
  }

  .services-sec-wrp .upcoming-my-slide .upcoming-data.ser {
    left: 29px;
  }

  .top-services-slider button.slick-prev.slick-arrow, .top-services-slider button.slick-next.slick-arrow {
    width: 42px;
    height: 40px;
  }

  .services-sec-in .upcoming-my-slide {
    width: 100%;
  }

  .sub-cat-filtr-btns {
    flex-direction: column;
  }

  .sub-cat-filtr-btns button {
    width: 100%;
  }

  .service-details-sub-cat h3 {
    font-size: 15px;
  }

  .service-details-banner-data h1 {
    font-size: 16px;
  }

  .service-details-banner-data p {
    flex-direction: column;
    font-size: 14px;
  }

  .service-issues-tab {
    flex-direction: column;
    gap: 20px;
  }

  .service-issues-tab-data h4 {
    font-size: 15px;
  }

  .service-issues-tab-data p, .service-issues-content p {
    font-size: 14px;
  }

  .service-issues-content ul li {
    width: 100%;
  }

  .service-details-issues h3 {
    font-size: 15px;
  }

  .service-issues-content-problem label {
    padding: 10px;
    font-size: 14px;
  }

  .service-issues-content-problem label img {
    width: 25px;
  }

  .service-issues-content-problem-thumbs-image {
    width: 46%;
  }

  .service-issues-content-problem-thumbs {
    flex-wrap: wrap;
  }

  .view-sum-subcat h3 {
    flex-direction: column;
    gap: 20px;
    font-size: 15px;
  }

  .view-sum-subcat h3 a img, .sub-cat-head a {
    width: 15px;
  }

  .sub-cat-head p, .estimated-total .estimated p {
    font-size: 14px;
  }

  .estimated-total .estimated span, .estimated-total .avrg span, .request-btn button.primary-cta {
    font-size: 15px;
  }

  .accordion-body ol.main-category li {
    font-size: 14px;
  }

  .view-sum-cat h5 {
    font-size: 15px;
  }

  .up-image-wrp {
    flex-wrap: wrap;
  }

  .upload-img .up-image-wrp img {
    width: 110px;
    height: 110px;
  }

  .issue-details-wrp h4, span.primary-cta.tap {
    font-size: 15px;
  }

  .boking-right-img {
    position: relative;
  }

  .plumbing-wrp-book {
    flex-direction: column;
    gap: 20px;
  }

  .plumbing-wrp-book .plumbing p.bold-text {
    font-size: 15px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 359px) {
  .logo {
    width: 30px;
    height: 40px;
  }

  .left-section {
    gap: 10px;
  }

  .dropdown-toggle.location-toggle img.loca {
    margin-right: 0;
  }

  .location img.loca {
    width: 20px;
    height: 20px;
  }

  .location {
    font-size: 12px;
  }

  .search-bar {
    width: 220px;
  }

  .inner-hero p {
    font-size: 12px;
    top: 16px;
    left: 10px;
  }

  .hero-img {
    width: 110px;
  }

  .hero-btn button {
    padding: 5px 10px;
    font-size: 10px;
    bottom: 5px;
    left: 12px;
  }

  .hero-btn img {
    width: 12px;
    height: 12px;
  }

  .pipe-leakage {
    flex-direction: column;
    gap: 10px;
    display: flex;
  }

  .left-leakage p {
    font-size: 14px;
  }

  .leakage-img {
    width: 60px;
  }

  .right-leakage .right-text .frist {
    font-size: 14px;
    font-weight: 500;
  }

  .right-leakage .right-text .sec {
    justify-content: flex-start;
  }

  .upcoming-data .up-text {
    font-size: 14px;
    font-weight: 500;
  }

  .upcoming-data .up-date {
    font-size: 14px;
  }

  .upcoming-data {
    left: 48px;
  }

  button.primary-cta.upcm-btn {
    height: 35px;
    font-size: 14px;
  }

  .upcm-slider-btn .cnl {
    height: 35px;
    padding: 0 15px;
    font-size: 14px;
  }

  .primary-cta.upcm-btn img {
    width: 15px;
    height: 15px;
    margin-right: 3px;
  }

  .plumbing .plm {
    font-size: 14px;
    font-weight: 500;
  }

  .plumbing .plm img {
    width: 15px;
    height: 16px;
  }

  .plumbing .sub-cate, .service-list-type ol.main-category li {
    font-size: 14px;
  }

  .additional-services .additional-text {
    font-weight: 500;
  }

  .additional-services ul.service-list li, .service-list-type p, .service-cost span {
    font-size: 14px;
  }

  .service-quotes {
    flex-direction: column;
  }

  button.reject-btn {
    padding: 0 25px;
    font-size: 14px;
  }

  button.primary-cta.rgt {
    justify-content: center;
    font-size: 14px;
  }

  .home-quotes-cta a.primary-cta.rgt {
    justify-content: center;
  }

  .primary-cta.rgt img {
    width: 12px;
    height: 12px;
    margin-left: 6px;
  }

  .icon-header {
    margin-left: 13px;
    font-size: 18px;
  }

  .left-leakage span {
    height: 22px;
  }

  .user-img-circle {
    width: 70px;
    height: 70px;
    top: 45px;
    left: 50%;
  }

  .user-img-circle img {
    width: 60px;
    height: 60px;
  }

  .my-profile-wrapper .upload-icon {
    width: 20px;
    height: 20px;
    top: 19%;
    right: 38%;
  }

  .my-profile-wrapper label.upload-icon img {
    width: 16px;
    height: 16px;
  }

  .browse-ctg-head h2, .browse-ctg-head p.see-all {
    font-size: 15px;
  }

  .roger-data {
    width: 100%;
  }

  .browse-ctg-head p.see-all {
    font-size: 15px;
    font-weight: 500;
  }

  .roger-data .input-row {
    flex-direction: column;
    gap: 0;
  }

  .footer-text {
    font-size: 12px;
  }

  .input-data-file {
    padding-bottom: 70px;
  }

  p.about-us-data {
    font-size: 14px;
  }

  .inner-data a span {
    font-size: 15px;
  }

  .about-swap-inner .inner-data a img {
    width: 15px;
    height: 15px;
  }

  .container.home-wraper.my-profile {
    height: auto;
  }

  .delete-account .modal-header h5.modal-title {
    font-size: 15px;
  }

  .delete-account ul.list-group.list-group-flush {
    gap: 12px;
  }

  .modal-body.delete-account-bdy li.list-group-item.custom-item span {
    font-size: 14px;
  }

  .modal-dialog.modal-dialog-centered .modal-header button.btn-close {
    width: 18px;
    height: 18px;
    top: -2rem;
    right: 9px;
  }

  .delete-account-wrp h3 {
    font-size: 15px;
  }

  .delete-account-wrp p {
    font-size: 14px;
  }

  .delete-btn-rgt button.primary-cta {
    margin: auto;
  }

  .notice-data h4 {
    font-size: 15px;
  }

  .notice-data p, .service-important h4 {
    font-size: 14px;
  }

  .notice-footer-btn a.primary-cta img {
    width: 9px;
    height: 9px;
    margin-left: 7px;
  }

  .notice-footer-btn a.primary-cta {
    font-size: 11px;
  }

  .notice-footer-btn button.secondary-cta {
    font-size: 15px;
  }

  .about-swap-inner .inner-data span {
    font-size: 14px;
  }

  .about-swap-inner .inner-data span img {
    width: 17px;
    height: 17px;
    margin-right: 6px;
  }

  .help-support-wrp h3 {
    font-size: 15px;
  }

  .help-support-wrp p {
    font-size: 14px;
  }

  .email-box {
    font-size: 12px;
  }

  .left-payments-body, .browse-ctg-head {
    flex-direction: column;
  }

  .browse-ctg-head.my-con-head .tab-left {
    margin-top: 10px;
  }

  .my-payments-body {
    flex-direction: column;
  }

  .my-payments-body .paid h5 {
    font-size: 15px;
  }

  .my-payments-body .paid h5 span {
    margin-top: 8px;
    display: inline-block;
  }

  .my-payments-body .paid p span {
    font-size: 14px;
  }

  .right-payments-body button.secondary-cta {
    font-size: 11px;
    font-weight: 500;
  }

  .right-payments-body button.primary-cta {
    font-size: 11px;
  }

  .right-payments-body button.primary-cta img.pay {
    width: 12px;
    height: 12px;
    margin-right: 7px;
  }

  .browse-ctg-head.my-con-head a.primary-cta {
    width: fit-content;
    font-size: 12px;
  }

  .saved-addresses-in, .use-location {
    flex-direction: column;
  }

  .your-location-top-in button.reject-btn {
    margin-top: 10px;
  }

  .addres-form button.primary-cta {
    justify-content: center;
  }

  .cost-details-wrp h4 {
    font-size: 15px;
  }

  .cost-details-in p {
    font-size: 14px;
  }

  .select-pay-met h4 {
    font-size: 16px;
  }

  .select-pay-met ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .cost-details-wrp {
    padding: 0;
  }

  .card-wrp {
    flex-direction: column;
  }

  .single-card img.card {
    width: 255px;
  }

  .my-booking-wrpper {
    flex-direction: column;
  }

  .plumbing-top .add-progress p.right {
    padding: 3px 8px;
    font-size: 12px;
  }

  .home-quotes-cta {
    flex-direction: column;
  }

  .payment-in {
    padding: 20px 80px;
  }

  .smart-analysis p, .payment-btom p {
    font-size: 14px;
  }

  .upload-screenshot h4, .smart-analysis h5, .payment-wrp p {
    font-size: 15px;
  }

  .payment-in h3 {
    font-size: 28px;
  }

  .payment-in h5, .payment-in h6 {
    font-size: 15px;
  }

  .select-pay-met ul li, .upload-screenshot input[type="file"], .payment-btom .primary-cta {
    font-size: 14px;
  }

  .payment-btom .primary-cta img {
    margin-left: 8px;
  }

  .browse-ctg-head .your-location-top {
    gap: 20px;
    align-items: unset;
    flex-direction: column;
  }

  .browse-ctg-head .your-location-top select {
    margin-left: 0;
    padding: 10px 30px 10px 10px;
  }

  .services-sec-wrp h3 {
    font-size: 15px;
  }

  .services-sec-wrp .upcoming-my-slide .upcoming-data.ser {
    left: 29px;
  }

  .top-services-slider button.slick-prev.slick-arrow, .top-services-slider button.slick-next.slick-arrow {
    width: 42px;
    height: 40px;
  }

  .services-sec-in .upcoming-my-slide {
    width: 100%;
  }

  .sub-cat-filtr-btns {
    flex-direction: column;
  }

  .sub-cat-filtr-btns button {
    width: 100%;
  }

  .service-details-sub-cat h3 {
    font-size: 15px;
  }

  .service-details-banner-data h1 {
    font-size: 16px;
  }

  .service-details-banner-data p {
    flex-direction: column;
    font-size: 14px;
  }

  .service-issues-tab {
    flex-direction: column;
    gap: 20px;
  }

  .service-issues-tab-data h4 {
    font-size: 15px;
  }

  .service-issues-tab-data p, .service-issues-content p {
    font-size: 14px;
  }

  .service-issues-content ul li {
    width: 100%;
  }

  .service-details-issues h3 {
    font-size: 15px;
  }

  .service-issues-content-problem label {
    padding: 10px;
    font-size: 14px;
  }

  .service-issues-content-problem label img {
    width: 25px;
  }

  .service-issues-content-problem-thumbs-image {
    width: 46%;
  }

  .service-issues-content-problem-thumbs {
    flex-wrap: wrap;
  }

  .view-sum-subcat h3 {
    flex-direction: column;
    gap: 20px;
    font-size: 15px;
  }

  .view-sum-subcat h3 a img, .sub-cat-head a {
    width: 15px;
  }

  .sub-cat-head p, .estimated-total .estimated p {
    font-size: 14px;
  }

  .estimated-total .estimated span, .estimated-total .avrg span, .request-btn button.primary-cta {
    font-size: 15px;
  }

  .accordion-body ol.main-category li {
    font-size: 14px;
  }

  .view-sum-cat h5 {
    font-size: 15px;
  }

  .up-image-wrp {
    flex-wrap: wrap;
  }

  .upload-img .up-image-wrp img {
    width: 110px;
    height: 110px;
  }

  .issue-details-wrp h4, span.primary-cta.tap {
    font-size: 15px;
  }

  .boking-right-img {
    position: relative;
  }

  .plumbing-wrp-book {
    flex-direction: column;
    gap: 20px;
  }

  .plumbing-wrp-book .plumbing p.bold-text {
    font-size: 15px;
  }
}

/*# sourceMappingURL=src_styles_responsive_css_0w3-wzy._.single.css.map*/